In [18]:
import pandas as pd

In [19]:
df=pd.read_excel("EV_Charging_Analysis.xlsx")

In [22]:
df.head()

,Session_ID,City,Station_ID,Charger_Type,Vehicle_Type,Charging_Start_Time,Charging_End_Time,Charging_Duration_Minutes,Energy_Consumed_kWh,Charging_Cost_INR,Weather_Condition,Customer_Rating
0,S0000001,Hyderabad,ST0171,Fast,3-Wheeler,2024-09-10 23:44:00,2024-09-11 00:05:00,21,20.11,397.80,Rainy,4.8
1,S0000002,Delhi,ST0056,Fast,4-Wheeler,2024-07-09 21:03:00,2024-07-09 22:04:00,61,13.87,252.89,Rainy,3.7
2,S0000003,Bangalore,ST0191,Fast,4-Wheeler,2024-09-28 04:25:00,2024-09-28 06:21:00,116,58.53,802.32,Sunny,4.1
3,S0000004,Delhi,ST0184,Slow,4-Wheeler,2024-02-07 01:30:00,2024-02-07 02:33:00,63,45.69,645.73,Rainy,4.1
4,S0000005,Mumbai,ST0011,Slow,Commercial EV,2024-07-04 18:03:00,2024-07-04 18:36:00,33,59.58,907.10,Sunny,2.7

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156455 entries, 0 to 156454
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Session_ID                 156455 non-null  object
 1   City                       156455 non-null  object
 2   Station_ID                 156455 non-null  object
 3   Charger_Type               156455 non-null  object
 4   Vehicle_Type               156455 non-null  object
 5   Charging_Start_Time        156455 non-null  datetime64[ns]
 6   Charging_End_Time          156455 non-null  datetime64[ns]
 7   Charging_Duration_Minutes  156455 non-null  int64
 8   Energy_Consumed_kWh        156455 non-null  float64
 9   Charging_Cost_INR          156455 non-null  float64
 10  Weather_Condition          156455 non-null  object
 11  Customer_Rating            156455 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(1), object(6)
memory usage: 14.3+ MB

In [5]:
df.describe()

,Charging_Start_Time,Charging_End_Time,Charging_Duration_Minutes,Energy_Consumed_kWh,Charging_Cost_INR,Customer_Rating
count,156455,156455,156455.000000,156455.000000,156455.000000,156455.000000
mean,2024-07-01 20:50:07.148764928,2024-07-01 22:00:06.275926016,69.985453,32.496681,520.346463,3.746634
min,2024-01-01 00:01:00,2024-01-01 00:28:00,20.000000,5.000000,60.620000,2.500000
25%,2024-04-01 02:15:30,2024-04-01 03:25:00,45.000000,18.710000,292.810000,3.100000
50%,2024-07-01 17:18:00,2024-07-01 18:44:00,70.000000,32.470000,509.280000,3.700000
75%,2024-10-01 14:59:30,2024-10-01 16:02:00,95.000000,46.300000,725.335000,4.400000
max,2024-12-31 23:57:00,2025-01-01 01:49:00,120.000000,60.000000,1198.400000,5.000000
std,NaN,NaN,29.076268,15.894534,268.137319,0.723016

In [6]:
df.isnull().sum()

Session_ID                   0
City                         0
Station_ID                   0
Charger_Type                 0
Vehicle_Type                 0
Charging_Start_Time          0
Charging_End_Time            0
Charging_Duration_Minutes    0
Energy_Consumed_kWh          0
Charging_Cost_INR            0
Weather_Condition            0
Customer_Rating              0
dtype: int64

In [7]:
df["Session_ID"].duplicated().value_counts()

Session_ID
False    156455
Name: count, dtype: int64

In [8]:
df["Station_ID"].duplicated().value_counts()

Station_ID
True     156255
False       200
Name: count, dtype: int64

In [9]:
(df["Energy_Consumed_kWh"]<=0).sum()

0

In [10]:
(df["Charging_Cost_INR"]<=0).sum()

0

In [11]:
(df["Charging_Duration_Minutes"]<0).sum()

0

In [12]:
  df.shape

(156455, 12)

In [29]:
df["Charging_Hour"]=df["Charging_Start_Time"].dt.hour

In [30]:
df["Month"]=df["Charging_Start_Time"].dt.month

In [24]:
df["Month_Name"]=df["Charging_Start_Time"].dt.month_name()

In [25]:
df["Revenue_Per_Kwh"]=df["Charging_Cost_INR"]/df["Energy_Consumed_kWh"]

In [27]:
df["Duration_Category"]=pd.cut(
    df["Charging_Duration_Minutes"],
    bins=[0,45,90,200],
    labels=["Short","Medium","Long"]
)

In [31]:
df.head(10)

,Session_ID,City,Station_ID,Charger_Type,Vehicle_Type,Charging_Start_Time,Charging_End_Time,Charging_Duration_Minutes,Energy_Consumed_kWh,Charging_Cost_INR,Weather_Condition,Customer_Rating,Month_Name,Revenue_Per_Kwh,Duration_Category,Charging_Hour,Month
0,S0000001,Hyderabad,ST0171,Fast,3-Wheeler,2024-09-10 23:44:00,2024-09-11 00:05:00,21,20.11,397.80,Rainy,4.8,September,19.781203,Short,23,9
1,S0000002,Delhi,ST0056,Fast,4-Wheeler,2024-07-09 21:03:00,2024-07-09 22:04:00,61,13.87,252.89,Rainy,3.7,July,18.232877,Medium,21,7
2,S0000003,Bangalore,ST0191,Fast,4-Wheeler,2024-09-28 04:25:00,2024-09-28 06:21:00,116,58.53,802.32,Sunny,4.1,September,13.707842,Long,4,9
3,S0000004,Delhi,ST0184,Slow,4-Wheeler,2024-02-07 01:30:00,2024-02-07 02:33:00,63,45.69,645.73,Rainy,4.1,February,14.132852,Medium,1,2
4,S0000005,Mumbai,ST0011,Slow,Commercial EV,2024-07-04 18:03:00,2024-07-04 18:36:00,33,59.58,907.10,Sunny,2.7,July,15.224908,Short,18,7
5,S0000006,Bangalore,ST0157,Slow,2-Wheeler,2024-02-25 04:14:00,2024-02-25 05:10:00,56,16.49,250.05,Cloudy,3.2,February,15.163736,Medium,4,2
6,S0000007,Delhi,ST0184,Slow,Commercial EV,2024-09-25 14:09:00,2024-09-25 15:59:00,110,35.53,427.75,Rainy,3.8,September,12.039122,Long,14,9
7,S0000008,Pune,ST0060,Slow,4-Wheeler,2024-07-11 19:19:00,2024-07-11 20:24:00,65,21.49,376.98,Sunny,3.2,July,17.542113,Medium,19,7
8,S0000009,Bangalore,ST0174,Slow,2-Wheeler,2024-04-29 08:36:00,2024-04-29 09:59:00,83,58.99,1114.34,Sunny,4.6,April,18.890320,Medium,8,4
9,S0000010,Pune,ST0022,Fast,Commercial EV,2024-12-19 17:37:00,2024-12-19 18:59:00,82,38.36,617.02,Cloudy,2.6,December,16.084984,Medium,17,12

In [33]:
df[["Charging_Duration_Minutes","Customer_Rating"]].corr()

                           Charging_Duration_Minutes  Customer_Rating
Charging_Duration_Minutes                   1.000000        -0.003188
Customer_Rating                            -0.003188         1.000000

In [34]:
df.groupby("Duration_Category")["Customer_Rating"].mean()

C:\Users\DVOC-MR-106\AppData\Local\Temp\ipykernel_11108\3839730050.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("Duration_Category")["Customer_Rating"].mean()

Duration_Category
Short     3.750622
Medium    3.746034
Long      3.744080
Name: Customer_Rating, dtype: float64

In [35]:
df.to_csv("EV_Charging.csv",index=False)